*.md
*.map
.DS_Store
.eslintcache
.eslintrc
.github
.meteor
.meteorignore
.npm
.versions
docs/superpowers
test
node_modules
npm-debug.log*
package.js
eslint.config.mjs
rollup.config.mjs
tsconfig.json
tsconfig.test.json
tsconfig.types.json
